@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fallback for browsers that don't support variable fonts */
@font-face {
  font-family: "abc";
  src: url("/JetBrainsMono-Regular.ttf") format("truetype"); /* Static bold font */
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "abc";
  src: url("/JetBrainsMono.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-display: swap;
}

@keyframes wave-hand {
  0% {
    transform: rotate(0deg);
    transform-origin: 70% 90%;
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  45% {
    transform: rotate(14deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  animation: infinite wave-hand 1.5s;
}

html .moon {
  display: none;
}

html.dark .sun {
  display: none;
}

html.dark .moon {
  display: block;
}
