@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --a-5-cl: rgba(0, 0, 0, 0.05);
  --a-10-cl: rgba(0, 0, 0, 0.1);
  --primary-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
  --text-muted-cl: #808080;
}

.primary-shadow {
  box-shadow: var(--primary-shadow);
}

.dark {
  --a-10-cl: rgba(255, 255, 255, 0.1);
  --a-5-cl: rgba(255, 255, 255, 0.05);
}

/* Fallback for browsers that don't support variable fonts */

/*@font-face {
  font-family: "abc";
  src: url("/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}*/

/*
@font-face {
  font-family: "abc";
  src: url("/JetBrainsMono.ttf") format("truetype-variations");
  font-weight: 400 ;
  font-display: swap;
}
*/
/*@font-face {
  font-family: "Comfortaa";
  src: url("/Comfortaa-VariableFont.ttf") format("truetype-variations");
  font-weight: 600 700;
  font-display: swap;
}
*/

/*@font-face {
  font-family: "Comfortaa";
  src: url("/Comfortaa-VariableFont.ttf") format("truetype-variations");
  font-weight: 600 700;
  font-display: swap;
}


@font-face {
  font-family: "Space Grotesk";
  src: url("/SpaceGrotesk-VariableFont.ttf") format("truetype-variations");
  font-weight: 400 700;
  font-display: swap;
}
*/
/*html {
  font-family: "Space Grotesk", system-ui;
}*/

@keyframes wave-hand {
  0% {
    transform: rotate(0deg);
    transform-origin: 70% 90%;
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  45% {
    transform: rotate(14deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  animation: infinite wave-hand 1.5s;
}

html .moon {
  display: none;
}

html.dark .sun {
  display: none;
}

html.dark .moon {
  display: block;
}

.prose-base :where(pre):not(:where([class~="not-prose"] *)) {
  font-size: 1rem;
}

h1[id],
h2[id],
h3[id],
h4[id] {
  scroll-margin-top: 80px;
}

h2[id] {
  border-bottom: 1px solid #808080;
  padding-bottom: 0.3em;
}

mark {
  display: inline-block;
  background-color: #ffea58;
  padding: 6px 12px;
  border-radius: 0.375rem;
}

.peer:checked ~ .sidebar-toggle > .menu-icon {
    display: none;
} 

.peer:checked ~ .sidebar-toggle > .xmark-icon {
    display: block;
} 