@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --a-10-cl: rgba(0, 0, 0, 0.1);
  --primary-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
}

.primary-shadow {
  box-shadow: var(--primary-shadow);
}

.dark {
  --a-10-cl: rgba(255, 255, 255, 0.1);
}

/* Fallback for browsers that don't support variable fonts */
@font-face {
  font-family: "abc";
  src: url("/JetBrainsMono-Regular.ttf") format("truetype"); /* Static bold font */
  font-weight: 400;
  font-display: swap;
}
/*
@font-face {
  font-family: "abc";
  src: url("/JetBrainsMono.ttf") format("truetype-variations");
  font-weight: 400 ;
  font-display: swap;
}
*/
@font-face {
  font-family: "Comfortaa";
  src: url("/Comfortaa-VariableFont.ttf") format("truetype-variations");
  font-weight: 600 700;
  font-display: swap;
}

html {
  font-family: "Comfortaa", system-ui;
}

@keyframes wave-hand {
  0% {
    transform: rotate(0deg);
    transform-origin: 70% 90%;
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  45% {
    transform: rotate(14deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  animation: infinite wave-hand 1.5s;
}

html .moon {
  display: none;
}

html.dark .sun {
  display: none;
}

html.dark .moon {
  display: block;
}
