@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

@keyframes wave-hand {
  0% {
    transform: rotate(0deg);
    transform-origin: 70% 90%;
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  45% {
    transform: rotate(14deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  animation: infinite wave-hand 1.5s;
}

html .moon {
  display: none;
}

html.dark .sun {
  display: none;
}

html.dark .moon {
  display: block;
}
